html, body{
    scroll-behavior: smooth;
}

.zmist{
    background-color: gray;
    width: 220px;
    padding: 15px;
    border: 4px solid gray;
}

.zmist a{
    text-decoration: none;
    color: navy;
}

.zmist p{
    margin: 5px;
}

.zmist a:hover{
    text-decoration: underline;
}

p{
    font-family: Lobster;
}

h1{
    font-family: Lobster;
}

h2{
    font-family: Lobster;
    border-bottom: 1px solid grey;
}

.right{
    background-color: grey;
    width: 270px;
    padding: 20px;
    float: right;
    border: 4px solid gray;
}

img{
    width: 100%;
    border: 4px solid gray;
    float: right;
}

.left{
    background-color: grey;
    width: 270px;
    padding: 20px;
    float: left;
    border: 4px solid gray;
}


