.fon{
background-color: #fff;
border-radius: 50px;
padding: 20px;
margin-bottom: 20px;
    font-family: Montserrat;

}

body{
    background-image: url(fon.jpg);
    padding-left: 10%;
    padding-right: 10%;
    font-family: Montserrat;

}
h1{
    text-align: center;
    font-family: Montserrat;
}