img{
    width: 100%;
    
}

body{
    margin: 0;
     
}
.portret{
    max-width: 50%;
}

.screen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    box-sizing: border-box;
}
.one{
      background: linear-gradient(#290F05, #793c07, #170802); 
      color: #cc9933;
}

.two{
    background-image: url(world-map.jpg);
    background-size: cover;
     background-position: 50% 50%; 
}
h2{
    color:  #432f06;
    text-shadow: 0px 0px 10px white;
    font-size: 3rem;
}
h3{
    text-align: center;
}
.interesting{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.fact{
    width: 300px;
    background-color:  #d2b48cd8;
    padding: 30px;
    margin: 20px;
    box-shadow:  0px 10px 10px #eadad3;
    font-family:  Arial, Helvetica, sans-serif;
}

.three .fact:nth-child(3){
    border-radius: 20%;
    box-shadow:  0px -10px 20px #5100ff;
}
.three{
     background: linear-gradient(rgb(14, 12, 13), #793c07, #cc9933); 
            padding-bottom: 50px; 
}

.four{
 padding-bottom: 50px; 
            background: linear-gradient(#cc9933, #793c07, rgb(14, 12, 13)); 
}

.three .fact:nth-child(2){
    border-radius: 20%;
    box-shadow:  0px 10px 20px #ab1b41;
}

.three .fact:nth-child(1){
    border-radius: 20%;
    box-shadow:  0px -10px 20px #00a6f8;
}

.five{
      background: linear-gradient(#290F05, #793c07, #170802);
}
.five h2{
    padding: 20px;
     border-bottom: 2px solid bisque; 
     font-size: 4.5rem;
     color: bisque;
     text-shadow: none;
}
li{
    color: #f3d9a7;
    font-size: 1.2rem;
}

 li:nth-child(2n){
     transform: translateX(-50px); 
     padding: 10px;
 }

 .portre{
    width: 50%;
}

.six{
     background: linear-gradient(#290F05, #793c07, #170802);
}

.six .fact:nth-child(1){
    border-radius: 30%;
     box-shadow:  0px -10px 20px #00a6f8;
}

.six .fact:nth-child(2){
    border-radius: 40%;
     box-shadow:  0px 10px 20px #ae2ab5;
}

.six .fact:nth-child(3){
    border-radius: 50%;
     box-shadow:  0px -10px 20px rgb(120, 233, 171)5
}

.seven{
    background: linear-gradient(#00d5ff, #96e69f, #fcb1b1);
}

.seven .fact:nth-child(1){
    border-radius: 30%;
     box-shadow:  0px -10px 20px #00a6f8;
}

.seven .fact:nth-child(2){
    border-radius: 40%;
     box-shadow:  0px 10px 20px #ae2ab5;
}

.seven .fact:nth-child(3){
    border-radius: 50%;
     box-shadow:  0px -10px 20px rgb(120, 233, 171);
     padding: -5px;
}
